@model ECommerceProject.Models.Buy

@{
    ViewBag.Title = "Buy";
}

@using (Html.BeginForm("Buy", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row" style="padding-top:50px">
            <div class=" col-md-3"></div>
            <div class="col-md-6">
                <div class="card border-primary mb-md-5" style="max-width: 540px;">
                    <div class="card-header" style="text-align:center;color:chocolate;font-size:large">Buy</div>
                    <div class="card-body text-primary">
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group" style="padding-left:70px">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:70px">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:70px">
                                @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:70px">
                                @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:170px">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Buy" class="btn btn-outline-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}