@model ECommerceProject.Models.Product

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row" style="padding-top:50px">
            <div class=" col-md-3"></div>
            <div class="col-md-6">
                <div class="card border-primary mb-md-5" style="max-width: 540px;">
                    <div class="card-header" style="text-align:center;color:chocolate;font-size:large">Add Product</div>
                    <div class="card-body text-primary">
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group" style="padding-left:70px">
                                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:70px">
                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:70px">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:70px">
                                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:70px">
                                @Html.LabelFor(x => x.ImagePath, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    <input type="file" name="ImageFile" required />
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:170px">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-outline-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
